.field--name-field-tag {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.field--name-field-tag .field__item {
  font-size: 0.75rem;
  padding: 1px 3px;
  background-color: #50851f;
  color: #ffffff;
}

.field--label-inline {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.field--label-inline .field__items {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}
