/* Footer */
.menu--footer .navbar-nav .menu-item {
  font-weight: 700;
  font-size: 18px;
}

.menu--footer .navbar-nav .menu-item span,
.menu--footer .navbar-nav .menu-item a {
  display: block;
  margin-bottom: 10px;
}

.menu--footer .navbar-nav .menu-item a {
  text-decoration: none;
}

.menu--footer .navbar-nav .subnav {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}

@media (min-width: 768px) {
  .menu--footer .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  .menu--footer .navbar-nav li {
    margin-bottom: 10px;
  }
  .menu--footer .navbar-nav .subnav li {
    margin-bottom: 0;
  }
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
