/* Footer */
footer {
  border-top: 1px solid #ddd;
  padding: 20px 0;
}

.menu--footer .navbar-nav .menu-item {
  font-weight: 700;
  font-size: 18px;
}

.menu--footer .navbar-nav .menu-item span,
.menu--footer .navbar-nav .menu-item a {
  display: block;
  margin-bottom: 10px;
}

.menu--footer .navbar-nav .menu-item a {
  text-decoration: none;
}

.menu--footer .navbar-nav .subnav {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}

@media (min-width: 992px) {
  .menu--footer .navbar-nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 991px) {
  .menu--footer .navbar-nav li {
    margin-bottom: 10px;
  }

  .menu--footer .navbar-nav .subnav li {
    margin-bottom: 0;
  }
}

/* Footer Bottom */
.footer-bottom {
  margin-top: 0.5rem;
}

.footer-left .menu--footer .navbar-nav,
.footer-left .menu--footer .navbar-nav {
  justify-content: flex-start;
  flex-direction: row;
}

.footer-right nav.block-menu .navbar-nav,
.footer-right nav.block-menu .navbar-nav {
  justify-content: flex-end;
  flex-direction: row;
}

.footer-bottom .menu--footer .navbar-nav,
.footer-bottom nav.block-menu .navbar-nav {
  justify-content: center;
  flex-direction: row;
}

.footer-left .menu--footer .navbar-nav .menu-item,
.footer-bottom .menu--footer .navbar-nav .menu-item,
.footer-left nav.block-menu .navbar-nav .nav-item,
.footer-bottom nav.block-menu .navbar-nav .nav-item {
  font-weight: normal;
  font-size: 0.85rem;
  padding-top: 0;
  display: flex;
  align-items: center;
}

.footer-left .menu--footer .navbar-nav .menu-item .hide-label,
.footer-right .menu--footer .navbar-nav .menu-item .hide-label,
.footer-bottom .menu--footer .navbar-nav .menu-item .hide-label,
.footer-left nav.block-menu .navbar-nav .nav-item .hide-label,
.footer-right nav.block-menu .navbar-nav .nav-item .hide-label,
.footer-bottom nav.block-menu .navbar-nav .nav-item .hide-label {
  line-height: 1;
}

.footer-left .menu--footer .navbar-nav .menu-item:after,
.footer-bottom .menu--footer .navbar-nav .menu-item:after {
  content: '|';
  color: var(--bs-footer-link-color);
}

.footer-left .menu--footer .navbar-nav.no-border .menu-item:after,
.footer-left .menu--footer .navbar-nav .menu-item:last-child:after,
.footer-bottom .menu--footer .navbar-nav.no-border .menu-item:after,
.footer-bottom .menu--footer .navbar-nav .menu-item:last-child:after {
  content: '';
}

.footer-left .block-menu .navbar-nav .menu-item a,
.footer-bottom .block-menu .navbar-nav .menu-item a,
.footer-left .block-menu .navbar-nav .nav-item a,
.footer-bottom .block-menu .navbar-nav .nav-item a {
  margin-bottom: 0;
  padding: calc(var(--bs-nav-link-padding-y) * 0.5) var(--bs-nav-link-padding-y);
}

.footer-left .block-menu .navbar-nav .menu-item:first-child a,
.footer-bottom .block-menu .navbar-nav .menu-item:first-child a,
.footer-left .block-menu .navbar-nav .nav-item:first-child a,
.footer-bottom .block-menu .navbar-nav .nav-item:first-child a {
  padding-left: 0;
}

.footer-left .block-menu.navbar-nav .menu-item:last-child a,
.footer-bottom .block-menu .navbar-nav .menu-item:last-child a,
.footer-left .block-menu .navbar-nav .nav-item:last-child a,
.footer-bottom .block-menu .navbar-nav .nav-item:last-child a {
  padding-right: 0;
}

@media (max-width: 991px) {
  .footer-left .menu--footer .navbar-nav,
  .footer-left nav.block-menu .navbar-nav,
  .footer-right nav.block-menu .navbar-nav,
  .footer-right nav.block-menu .navbar-nav {
    justify-content: center;
  }

  .footer-left .menu--footer .navbar-nav li,
  .footer-bottom .menu--footer .navbar-nav li {
    margin-bottom: 0;
  }

  footer.sp-right-top .footer-top .row {
    flex-direction: column-reverse;
  }
}

.footer-left .paragraph--type--wysiwyg-editor,
.footer-right .paragraph--type--wysiwyg-editor,
.footer-bottom .paragraph--type--wysiwyg-editor {
  padding-top: 0;
  padding-bottom: 0;
}
