/* Header */
header {
  box-shadow: 0 2px 6px -1px rgba(0,0,0,.07), 0 6px 18px -1px rgba(0,0,0,.04);
  margin-bottom: 0;
}
/* Header Top */
.header-top {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.header-top-right .menu--account ul li {
  padding: 0 10px;
}
.header-top-right .menu--account ul li a {
  color: var(--light-text-body);
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.56px;
}
.header-top-right .menu--account ul li a:hover {
  color: var(--light-text-body);
  text-decoration: underline;
  background-color: var(--light-background-secondary);
}
.header-top-right .menu--account ul li a:focus {
  border-radius: 4px;
  border: 2px solid var(--light-border-focused, #CD820A);
}
.header-top-right .menu--account ul li a .menu-icon {
  margin-right: 4px;
  display: inline-block;
}

/* Navigation */
.navbar-toggler {
  border-radius: 0;
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  height: 100%;;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  width: 22px;
  height: 2px;
  margin-bottom: 4px;
  display: block;
  transition: all 0.2s;
  background-color: #888;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
  margin-bottom: 0;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

@media(max-width: 991px) {
  .navbar-expand-lg.sp-revert {
    flex-direction: column-reverse;
  }
  .navbar-brand .site-title {
    font-size: 16px;
  }
}

.header-right .navbar-nav .nav-item {
  font-weight: 500;
}
.header-right .navbar-nav .dropdown-menu {
  box-shadow: 0px 0px 30px rgba(0,0,0,.07);
  border: none;
  border-radius: 0;
  padding: 0;
  right: 0;
  left: auto;
}
.header-right .navbar-nav .dropdown-item {
  padding: 10px 15px;
}

.header-right .navbar-nav .dropdown-toggle:after {
  border: 0;
  background-image: url('../../images/dropdown_arrow.svg');
  width: 24px;
  height: 20px;
  margin-left: auto;
  display: inline-block;
  background-size: cover;
}
@media(max-width: 991px) {
  .header-right .navbar-nav .dropdown-toggle:after {
    display: none;
  }

  .header-right .view-content .views-row {
    padding: 0;
  }

  .header-right .view-content .views-row .view-field .field-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.header-right .navbar-nav .dropdown-toggle.show:after {
  transform: rotate(180deg);
}

.header-right .dropdown-toggle,
.header-right .dropdown-item {
  font-size: 0.85rem;
}

.header-right .menu--main .dropdown-toggle {
  font-size: 1rem;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    padding: 0;
    flex-direction: column;
  }

  li.nav-item.dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    top: 130%;
    left: 0;
  }

  .header-right li.nav-item.dropdown .dropdown-menu {
    left: auto;
    right: 0;
  }

  li.nav-item.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }
}

/* Headder Left */
.header-left .paragraph {
  padding-top: 0;
  padding-bottom: 0;
}

.header-left .paragraph p:last-child {
  margin-bottom: 0;
}

/* Header Bottom */
.navbar > .container.header-bottom {
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

@media (max-width: 991px) {
  .navbar > .container,
  .navbar > .container.header-bottom {
    flex-wrap: nowrap;
  }

  .navbar > .container > .header-left > nav.menu--main,
  .navbar > .container > .header-right > nav.menu--main,
  .navbar > .container.header-bottom > .menu--main {
    position: static;
    width: 100%;
  }

  .navbar > .container > .header-left > .menu--main .navbar-toggler,
  .navbar > .container > .header-right > .menu--main .navbar-toggler,
  .navbar > .container.header-bottom > .menu--main .navbar-toggler {
    position: absolute;
    top: 0;
    right: 0.5rem;
    height: 46px;
    z-index: 1;
  }

  .navbar.sp-nav-left > .container>.header-left > .menu--main .navbar-toggler,
  .navbar.sp-nav-left > .container>.header-right > .menu--main .navbar-toggler,
  .navbar.sp-nav-left > .container.header-bottom > .menu--main .navbar-toggler {
    left: 0;
    right: auto;
  }

  .navbar.sp-revert > .container > .header-left > .menu--main .navbar-toggler,
  .navbar.sp-revert > .container > .header-right > .menu--main .navbar-toggler {
    top: -45px;
  }

  .navbar.sp-revert.no-headr-left > .container > .header-right > .menu--main .navbar-toggler {
    top: 45px;
  }

  .navbar > .container > .header-left > .menu--main .navbar-collapse,
  .navbar > .container > .header-right > .menu--main .navbar-collapse,
  .navbar > .container.header-bottom > .menu--main .navbar-collapse {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    z-index: 501;
    width: calc(100vw - calc(100vw - 100%));;
  }

  .navbar > .container.header-bottom > .menu--main .navbar-collapse,
  .navbar.left-logo-only > .container > .header-right > .menu--main .navbar-collapse {
    top: 45px;
  }

  .navbar > .container > .header-left > .menu--main .navbar-collapse,
  .navbar > .container > .header-right > .menu--main .navbar-collapse {
    top: 90px;
  }

  .navbar.sp-nav-left > .container > .header-left > .menu--main .navbar-collapse,
  .navbar.sp-nav-left > .container > .header-right > .menu--main .navbar-collapse,
  .navbar.sp-nav-left > .container.header-bottom > .menu--main .navbar-collapse {
    left: 0;
    right: auto;
  }

  .navbar > .container > .header-left > .menu--main .navbar-collapse .navbar-nav .nav-link,
  .navbar > .container > .header-right > .menu--main .navbar-collapse .navbar-nav .nav-link,
  .navbar > .container > .header-left > .menu--main .navbar-collapse .navbar-nav .dropdown-item,
  .navbar > .container > .header-right > .menu--main .navbar-collapse .navbar-nav .dropdown-item,
  .navbar > .container.header-bottom > .menu--main .navbar-collapse .navbar-nav .nav-link,
  .navbar > .container.header-bottom > .menu--main .navbar-collapse .navbar-nav .dropdown-item {
    padding: 0.85rem 1rem;
  }

  .navbar > .container > nav .navbar-collapse .navbar-nav .dropdown-menu {
    position: static;
  }

  .navbar.sp-nav-right.sp-revert .header-right {
    margin-right: 2.5rem;
  }
}

.navbar > .container .navbar-brand {
  padding: 0;
  margin-right: 0;
}

.navbar > .container.header-bottom .navbar-brand img {
  margin-right: 0;
}

.header-bottom .navbar-nav .dropdown-menu {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, .07);
  border: none;
  border-radius: 0;
  padding: 0;
}

/** My list */
.header-right .view-content .views-field .flag {
  position: static;
  display: flex;
}

.header-right .view-content .views-field .flag a {
  text-decoration: none;
  font-size: 0.85rem;;
}
