/* Layout css */
@media screen and (min-width: 40em) {
  .layout--twocol > .layout__region--first {
    padding-right: 10px;
  }

  .layout--twocol > .layout__region--second {
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .ds-2col-stacked > .group-left,
  .ds-2col-stacked>.group-right {
    width: 100%;
    float: none;
  }
}

/** Title */
.pc-hidden .page-title {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-hidden .page-title {
    display: block;
  }

  .sp-hidden.h1 {
    display: none;
  }
}
