
.node--view-mode-list .field--name-field-company {
  font-size: 1.1rem;
  margin: 7px 0 5px !important;
}

.node--view-mode-list .field--name-field-overview {
  border-radius: 5px;
  background-color: #f2f0ea;
  font-size: 0.9rem;
  padding: 10px;
  margin: 10px 0 20px !important;
}

.node--type-recruitment.node--view-mode-full .field--name-field-tag {
  margin: 1rem 0;
  justify-content: center;
}

.node--type-recruitment.node--view-mode-full .field--label-above {
  border: 1px solid #7b98a3;
  border-bottom: 0;
}

.node--type-recruitment.node--view-mode-full .field--label-above:nth-last-child(1) {
  border-bottom: 1px;
  border-bottom-color: #7b98a3;
  border-bottom-style: solid;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__label {
  background-color: #7b98a3;
  color: #ffffff;
  padding: 5px;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__item,
.node--type-recruitment.node--view-mode-full .field--label-above .field__items {
  padding: 10px;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__items {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__items .field__item {
  padding: 0;
}

.node--type-recruitment.node--view-mode-full .apply_link {
  text-align: center;
  margin: 2rem 0;
}

.node--type-recruitment.node--view-mode-full .apply_link a {
  text-decoration: none;
  background-color: var(--bs-link-color);
  color: #ffffff;
  padding: 10px 20px;
  border: 3px double #ffffff;
}

.node--type-recruitment .matching-skill {
  font-weight: bold;
  color: var(--bs-primary);
}

/* Featured contant paragraph */
.field--name-field-content {
  display: flex;
  flex-wrap: wrap;
}

.field--name-field-content>.field__item {
  max-width: 300px;
  margin: 5px;
}

.field--name-field-content .content-information {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 10px auto;
}

.field--name-field-content .content-information .content-category {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  min-width: 75px;
  display: inline-block;
  margin: 0 0 3px 2px;
  font-size: 12px;
}

.field--name-field-content .title {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--gin-color-text-light);
  text-decoration: none;
}

/* News list */
.list-link a {
  text-decoration: none;
  font-size: 18px;
  color: var(--gin-color-text-light);
}
.list-link a:hover {
  text-decoration: underline;
}

.list-image {
  min-width: 220px;
}

.list-category {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  font-size: 12px;
}

.list-date {
  font-size: 14px;
  width: 77px;
}

.list-info {
  margin-bottom: 15px;
}

@media(min-width: 768px) {
  .node-view-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
  .list-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0;
    min-width: 180px;
  }
  .list-date {
    margin-right: 7px;
  }
}

@media (max-width: 767px) {
  .node-view-list .list-date {
    margin-bottom: 10px;
  }
}

.node-view-list .list-info {
  display: flex;
}

/* Node details page */
.node-info > .list-info {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/* node-list-thumbnail */
.node-list-thumbnail .list-details {
  flex-grow: 1;
}

.node-list-thumbnail .list-link {
  margin-bottom: 20px;
}

.node-list-thumbnail .list-link a {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .node-list-thumbnail {
    display: flex;
    align-items: center;
  }
  .node-list-thumbnail .list-info,
  .node-info .list-info {
    justify-content: space-between;
  }
  .node-list-thumbnail .list-date,
  .node-info .list-date {
    margin-right: 0;
  }
  .node-list-thumbnail .list-date {
    text-align: right;
  }
  .node-list-thumbnail .list-details {
    padding: 15px 15px 15px 25px;
  }
}

@media(max-width: 767px) {
  .node-list-thumbnail .list-info .list-category,
  .node-info .list-info .list-category {
    margin-bottom: 10px;
  }
  .list-image {
    margin-bottom: 15px;
    text-align: center;
  }
}

.node {
  position: relative;
}

.node details.card.no-border,
.node details.card.no-border summary {
  border: 0;margin-top: 0;
  margin-bottom: 1px;
}

.node details.card.full-width summary {
  width: 100vw;
  height: 7rem;
  margin-left: calc(-50vw + 50%);
  list-style: none;
  display: flex;
  align-items: center;
  padding: var(--bs-card-cap-padding-y) calc(var(--bs-card-cap-padding-x) * 1.5);
}

.node details.card.full-width summary .summary-title {
  max-width: var(--bs-site-max-width);
  margin: 0 auto;
  line-height: 0;
  font-size: 2.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.node details.card.toggle-right summary .summary-title:after {
  content: '+';
  font-size: 2.7rem;
}

.node details.card.toggle-right[open] summary .summary-title:after {
  content: '−';
}

.node details .details-wrapper {
  padding: 2rem 0;
}

.node details.content-flex .details-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.node details.content-flex.content-w-50 .details-wrapper > * {
  width: 100%;
  max-width: calc(var(--bs-site-max-width) / 2 - var(--bs-gutter-x));
}

/* Anchor link */
.node .anchor-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 3rem;
  padding-left: 0;
}

.node .anchor-links li {
  width: 100%;
  max-width: 285px
}

.node .anchor-links li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  background-color: var(--bs-btn-bg);
  color: var(--bs-btn-color);
  font-size: 1.1rem;
  position: relative;
  border-radius: var(--bs-border-radius);
}

.node .anchor-links li a:before {
  content: '\f103';
  font-family: 'Font Awesome 6 Pro';
  font-weight: 900;
  font-size: 1.5rem;
  position: absolute;
  left: 15px;
}

.node .anchor-links.sticky {
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(var(--bs-secondary-bg-rgb), 0.7);
  padding-bottom: 1rem;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.node .anchor-links.sticky.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInSlideUp 0.3s forwards;
}

@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.node .anchor-links.sticky li {
  display: none;
}

.node .anchor-links.sticky li:has(a.sticky-item) {
  display: block;
}

.node .anchor-links.sticky.normal-position {
  position: relative;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 0;
  width: auto;
  background-color: transparent;
}

.node .anchor-links.sticky.anchor-links.sticky.normal-position li {
  display: block;
}

@media (max-width: 991px) {
  .node .anchor-links {
    flex-wrap: wrap;
  }

  .node .group-header .flag {
    top: -2rem;
  }
}

@media (max-width: 767px) {
  .node .anchor-links li {
    max-width: unset
  }

  .node details.card.full-width summary .summary-title {
    line-height: 1;
  }

  .node .anchor-links.sticky {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/* Headings and links */
.node .headings-anchor-links {
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 0;
}

.node .headings-anchor-links a {
  /* color: var(--bs-btn-color); */
  text-decoration: none;
}

.node .headings-anchor-links a:hover {
  text-decoration: underline;
}
