
.node--view-mode-list .field--name-field-company {
  font-size: 1.1rem;
  margin: 7px 0 5px !important;
}

.node--view-mode-list .field--name-field-overview {
  border-radius: 5px;
  background-color: #f2f0ea;
  font-size: 0.9rem;
  padding: 10px;
  margin: 10px 0 20px !important;
}

.node--type-recruitment.node--view-mode-full .field--name-field-tag {
  margin: 1rem 0;
  justify-content: center;
}

.node--type-recruitment.node--view-mode-full .field--label-above {
  border: 1px solid #cabfab;
  border-bottom: 0;
}

.node--type-recruitment.node--view-mode-full .field--label-above:nth-last-child(1) {
  border-bottom: 1px;
  border-bottom-color: #cabfab;
  border-bottom-style: solid;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__label {
  background-color: #cabfab;
  color: #ffffff;
  padding: 5px;
}

.node--type-recruitment.node--view-mode-full .field--label-above .field__item {
  padding: 10px;
}

.node--type-recruitment.node--view-mode-full .apply_link {
  text-align: center;
  margin: 2rem 0;
}

.node--type-recruitment.node--view-mode-full .apply_link a {
  text-decoration: none;
  background-color: #be123f;
  color: #ffffff;
  padding: 10px 20px;
  border: 3px double #ffffff;
}

/* Featured contant paragraph */
.field--name-field-content {
  display: flex;
  flex-wrap: wrap;
}

.field--name-field-content>.field__item {
  max-width: 300px;
  margin: 5px;
}

.field--name-field-content .content-information {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 10px auto;
}

.field--name-field-content .content-information .content-category {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  min-width: 75px;
  display: inline-block;
  margin: 0 0 3px 2px;
  font-size: 12px;
}

.field--name-field-content .title {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: var(--gin-color-text-light);
  text-decoration: none;
}

/* News list */
.list-link a {
  text-decoration: none;
  font-size: 18px;
  color: var(--gin-color-text-light);
}
.list-link a:hover {
  text-decoration: underline;
}

.list-image {
  min-width: 220px;
}

.list-category {
  padding: 3px 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  min-width: 100px;
  display: inline-block;
  font-size: 12px;
}

.list-date {
  font-size: 14px;
}

.list-info {
  margin-bottom: 15px;
}

@media(min-width: 768px) {
  .node-view-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  .list-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 0;
    min-width: 180px;
  }
  .list-date {
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .node-view-list .list-date {
    margin-bottom: 10px;
  }
}

/* Node details page */
.node-info .list-info {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

/* node-list-thumbnail */
.node-list-thumbnail .list-details {
  flex-grow: 1;
}

.node-list-thumbnail .list-link {
  margin-bottom: 20px;
}

.node-list-thumbnail .list-link a {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 768px) {
  .node-list-thumbnail {
    display: flex;
    align-items: center;
  }
  .node-list-thumbnail .list-info,
  .node-info .list-info {
    justify-content: space-between;
  }
  .node-list-thumbnail .list-date,
  .node-info .list-date {
    margin-right: 0;
  }
  .node-list-thumbnail .list-details {
    padding: 15px 15px 15px 25px;
  }
}

@media(max-width: 767px) {
  .node-list-thumbnail .list-info .list-category,
  .node-info .list-info .list-category {
    margin-bottom: 10px;
  }
  .list-image {
    margin-bottom: 15px;
    text-align: center;
  }
}
