.paragraph {
  margin: 15px 0;
  clear: both;
}

.paragraph--type--border-box {
  margin-top: 0;
}

.paragraph--type--headings,
.paragraph--type--h2-title,
.paragraph--type--h3-title,
.paragraph--type--h4-title {
  margin-bottom: 0;
}

.paragraph--type--wysiwyg-editor p:nth-last-of-type(1) {
  margin-bottom: 0;
}

.link-button {
  text-align: center;
}

.paragraph--type--google-map #map {
  margin: 0 auto;
}

.paragraph--type--two-col-table table {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.paragraph--type--two-col-table table > tbody > tr > td > .paragraph {
  margin: 0;
}
