/* Banner Paragraph */
.section-banner {
  position: relative;
  overflow: hidden;
}
.banner-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
}
.hero-contents {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.hero-title h1 {
  font-size: 3.25rem;
  font-weight: 700;
  letter-spacing: 0.07rem;
  line-height: 1.2;
}
.hero-description {
  font-size: 1.125rem;
  letter-spacing: 0.11rem;
  line-height: 1.7;
}

.hero-link a {
  display: block;
  text-align: center;
  border-radius: 5px;
  padding: 20px 34px;
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  width: 400px;
}

.hero-small-text {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  width: 60%;
}

@media (max-width: 991px) {
  .banner-bg {
    padding: 20px 0;
    background-position: top;
  }
  .hero-contents {
    padding: 12rem 0 20px;
    width: 100%;
  }
  .hero-title h1 {
    font-size: 2.375rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    line-height: 1.1;
    margin: 0 auto 1.125rem;
  }
  .hero-description {
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.06rem;
    margin-bottom: 2rem;
  }
  .hero-link a {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.25rem;
    padding: 20px;
    margin-bottom: 2.25rem;
    border-radius: 5px;
    justify-content: center;
  }
  .hero-small-text {
    position: relative;
    font-size: 10px;
    font-weight: 400;
    width: 100%;
  }
}

@media(max-width: 767px) {
  .hero-link a {
    width: 100%;
  }
}
.banner-content h2:after,
.banner-content h3:after,
.banner-content h4:after,
.banner-content h5:after,
.banner-content h6:after {
  display: none;
}
