.paragraph {
  padding: 15px 0;
  clear: both;
}

.link-button {
  text-align: center;
}

.paragraph--type--google-map #map {
  margin: 0 auto;
}

.paragraph--type--two-col-table table {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.paragraph--type--two-col-table table > tbody > tr > td > .paragraph {
  margin: 0;
}
