.view .view-header,
.view .view-content,
.view .view-footer {
  width: 100%;
}
.view .view-content caption h2:after {
  display: none;
}

.view .view-content caption .field__items {
  display: flex;
  gap: 0 1rem;
  flex-wrap: wrap;
}

.view .view-content .views-field p {
  margin-bottom: 0;
}

.view .view-content .views-field a {
  color: var(--bs-body-color);
  text-decoration: none;
}

.view .view-content .views-field h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  word-break: break-all;
}

.view .view-content .views-field h2:after {
  display: none;
}
.view .view-content .views-field.views-field-rendered-entity h2 {
  font-size: 1.3rem;
  margin-bottom: 0;
}

.view .view-content .views-field.views-field-rendered-entity h2:after {
  display: none;
}

.view .view-content .views-field.views-field-rendered-entity h2 a {
  color: var(--bs-body-color);
  font-weight: bold;
}

.view .view-content .views-field .bg-gray,
.view .view-header .bg-gray {
  background-color: #e6e5e5;
}

.view .view-content .views-field .flag {
  position: static;
  margin-right: 8px;
}

.views-view-grid {
  margin-top: 20px;
}

.views-view-grid .views-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.views-view-grid .views-row.gap-xs {
  gap: 0.1rem;
}

.views-view-grid .views-row.gap-s {
  gap: 0.25rem;
}

.views-view-grid .views-row.gap-m {
  gap: 0.5rem;
}

.views-view-grid .views-row.gap-l {
  gap: 0.75rem;
}

.views-view-grid .views-row.gap-xl {
  gap: 1rem;
}

.views-view-grid.cols-8 .views-col {
  max-width: 12.5%;
}

.views-view-grid.cols-7 .views-col {
  max-width: 14%;
}

.views-view-grid.cols-6 .views-col {
  max-width: 16.5%;
}

.views-view-grid.cols-5 .views-col {
  max-width: 20%;
}

.views-view-grid.cols-4 .views-col {
  max-width: 25%;
}

.views-view-grid.cols-3 .views-col {
  max-width: 33.3%;
}

.views-view-grid.cols-2 .views-col {
  max-width: 50%;
}

.views-view-grid.cols-8 .gap-xs .views-col {
  max-width: calc(12.5% - 0.1rem + 0.1rem/8);
}

.views-view-grid.cols-7 .gap-xs .views-col {
  max-width: calc(14% - 0.1rem + 0.1rem/7);
}

.views-view-grid.cols-6 .gap-xs .views-col {
  max-width: calc(16.5% - 0.1rem + 0.1rem/6);
}

.views-view-grid.cols-5 .gap-xs .views-col {
  max-width: calc(20% - 0.1rem + 0.1rem/5);
}

.views-view-grid.cols-4 .gap-xs .views-col {
  max-width: calc(25% - 0.1rem + 0.1rem/4);
}

.views-view-grid.cols-3 .gap-xs .views-col {
  max-width: calc(33.3% - 0.1rem + 0.1rem/3);
}

.views-view-grid.cols-2 .gap-xs .views-col {
  max-width: calc(50% - 0.1rem + 0.1rem/2);
}

.views-view-grid.cols-8 .gap-s .views-col {
  max-width: calc(12.5% - 0.25rem + 0.25rem/8);
}

.views-view-grid.cols-7 .gap-s .views-col {
  max-width: calc(14% - 0.25rem + 0.25rem/7);
}

.views-view-grid.cols-6 .gap-s .views-col {
  max-width: calc(16.5% - 0.25rem + 0.25rem/6);
}

.views-view-grid.cols-5 .gap-s .views-col {
  max-width: calc(20% - 0.25rem + 0.25rem/5);
}

.views-view-grid.cols-4 .gap-s .views-col {
  max-width: calc(25% - 0.25rem + 0.25rem/4);
}

.views-view-grid.cols-3 .gap-s .views-col {
  max-width: calc(33.3% - 0.25rem + 0.25rem/3);
}

.views-view-grid.cols-2 .gap-s .views-col {
  max-width: calc(50% - 0.25rem + 0.25rem/2);
}

.views-view-grid.cols-8 .gap-m .views-col {
  max-width: calc(12.5% - 0.5rem + 0.5rem/8);
}

.views-view-grid.cols-7 .gap-m .views-col {
  max-width: calc(14% - 0.5rem + 0.5rem/7);
}

.views-view-grid.cols-6 .gap-m .views-col {
  max-width: calc(16.5% - 0.5rem + 0.5rem/6);
}

.views-view-grid.cols-5 .gap-m .views-col {
  max-width: calc(20% - 0.5rem + 0.5rem/5);
}

.views-view-grid.cols-4 .gap-m .views-col {
  max-width: calc(25% - 0.5rem + 0.5rem/4);
}

.views-view-grid.cols-3 .gap-m .views-col {
  max-width: calc(33.3% - 0.5rem + 0.5rem/3);
}

.views-view-grid.cols-2 .gap-m .views-col {
  max-width: calc(50% - 0.5rem + 0.5rem/2);
}

.views-view-grid.cols-8 .gap-l .views-col {
  max-width: calc(12.5% - 0.75rem + 0.75rem/8);
}

.views-view-grid.cols-7 .gap-l .views-col {
  max-width: calc(14% - 0.75rem + 0.75rem/7);
}

.views-view-grid.cols-6 .gap-l .views-col {
  max-width: calc(16.5% - 0.75rem + 0.75rem/6);
}

.views-view-grid.cols-5 .gap-l .views-col {
  max-width: calc(20% - 0.75rem + 0.75rem/5);
}

.views-view-grid.cols-4 .gap-l .views-col {
  max-width: calc(25% - 0.75rem + 0.75rem/4);
}

.views-view-grid.cols-3 .gap-l .views-col {
  max-width: calc(33.3% - 0.75rem + 0.75rem/3);
}

.views-view-grid.cols-2 .gap-l .views-col {
  max-width: calc(50% - 0.75rem + 0.75rem/2);
}

.views-view-grid.cols-8 .gap-xl .views-col {
  max-width: calc(12.5% - 1rem + 1rem/8);
}

.views-view-grid.cols-7 .gap-xl .views-col {
  max-width: calc(14% - 1rem + 1rem/7);
}

.views-view-grid.cols-6 .gap-xl .views-col {
  max-width: calc(16.5% - 1rem + 1rem/6);
}

.views-view-grid.cols-5 .gap-xl .views-col {
  max-width: calc(20% - 1rem + 1rem/5);
}

.views-view-grid.cols-4 .gap-xl .views-col {
  max-width: calc(25% - 1rem + 1rem/4);
}

.views-view-grid.cols-3 .gap-xl .views-col {
  max-width: calc(33.3% - 1rem + 1rem/3);
}

.views-view-grid.cols-2 .gap-xl .views-col {
  max-width: calc(50% - 1rem + 1rem/2);
}

@media (max-width: 767px) {
  .views-view-grid .views-row {
    flex-wrap: wrap;
  }

  .views-view-grid.cols-8 .views-col,
  .views-view-grid.cols-7 .views-col,
  .views-view-grid.cols-6 .views-col,
  .views-view-grid.cols-5 .views-col,
  .views-view-grid.cols-4 .views-col,
  .views-view-grid.cols-3 .views-col,
  .views-view-grid.cols-2 .views-col {
    max-width: 100% !important;
  }
  .views-view-grid.cols-6 .sp-col-2 .views-col,
  .views-view-grid.cols-6 .sp-col-2 .views-col,
  .views-view-grid.cols-4 .sp-col-2 .views-col,
  .views-view-grid.cols-2 .sp-col-2 .views-col {
    max-width: 50% !important;
  }

  .views-view-grid.cols-8 .gap-xs.sp-col-2 .views-col,
  .views-view-grid.cols-6 .gap-xs.sp-col-2 .views-col,
  .views-view-grid.cols-4 .gap-xs.sp-col-2 .views-col,
  .views-view-grid.cols-2 .gap-xs.sp-col-2 .views-col {
    max-width: calc(50% - 0.1rem/2) !important;
  }

  .views-view-grid.cols-8 .gap-s.sp-col-2 .views-col,
  .views-view-grid.cols-6 .gap-s.sp-col-2 .views-col,
  .views-view-grid.cols-4 .gap-s.sp-col-2 .views-col,
  .views-view-grid.cols-2 .gap-s.sp-col-2 .views-col {
    max-width: calc(50% - 0.25rem/2) !important;
  }

  .views-view-grid.cols-8 .gap-m.sp-col-2 .views-col,
  .views-view-grid.cols-6 .gap-m.sp-col-2 .views-col,
  .views-view-grid.cols-4 .gap-m.sp-col-2 .views-col,
  .views-view-grid.cols-2 .gap-m.sp-col-2 .views-col {
    max-width: calc(50% - 0.5rem/2) !important;
  }

  .views-view-grid.cols-8 .gap-l.sp-col-2 .views-col,
  .views-view-grid.cols-6 .gap-l.sp-col-2 .views-col,
  .views-view-grid.cols-4 .gap-l.sp-col-2 .views-col ,
  .views-view-grid.cols-2 .gap-l.sp-col-2 .views-col {
    max-width: calc(50% - 0.75rem/2) !important;
  }

  .views-view-grid.cols-8 .gap-xl.sp-col-2 .views-col,
  .views-view-grid.cols-6 .gap-xl.sp-col-2 .views-col,
  .views-view-grid.cols-4 .gap-xl.sp-col-2 .views-col,
  .views-view-grid.cols-2 .gap-xl.sp-col-2 .views-col {
    max-width: calc(50% - 1rem/2) !important;
  }
}

.views-view-grid .views-col {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 8px;
  font-size: 0.9rem;
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}

.views-view-grid .views-col.no-border {
  border: 0;
}

.views-view-grid .views-col.bg-gray {
  border: 0;
  background-color: #fafafa;
}

/* .views-view-grid .views-col .views-field {
  height: 100%;
} */

.views-view-grid .views-col .views-field a.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #787878;
  font-size: 18px;
}

.views-view-grid .views-col .views-field-rendered-entity article {
  position: relative;
  height: 100%;
  padding-bottom: 2rem;
}

.views-view-grid .views-col .views-field .more-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
}

.views-view-grid .views-col .views-field .more-link a {
  color: #ffffff;
  background-color: #7b98a3;
  padding: 3px 10px;
}

.views-view-grid .views-col .views-field .more-link a:hover {
  background-color: #567c8a;
}

.views-view-grid .views-col .views-field-view-node,
.views-view-grid .views-col .views-field-view-user {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.views-view-grid .views-col .views-field-view-node a,
.views-view-grid .views-col .views-field-view-user a {
  font-size: 0.85rem;
  padding: 2px 5px;
  background-color: #358aae;
  color: #ffffff;
}

.views-view-grid .views-col .node__content .field,
.views-view-grid .views-col .profile .field {
  margin: 2px 0;
}

.views-view-grid .views-col .views-label {
  font-weight: bold;
}

.views-view-grid .views-col .field--type-entity-reference-revisions>.field__label {
  font-size: 1rem;
  background-color: #a5b389;
  color: #ffffff;
  padding: 0 5px;
  font-weight: 400;
}

.views-view-grid .views-col .field--type-entity-reference-revisions>.field__items {
  padding: 15px 5px;
}

.views-view-grid .views-col .field__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.views-view-grid .views-field-views-bulk-operations-bulk-form .form-type-checkbox {
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: flex;
}

@media (max-width: 575px) {
  .views-view-grid .views-col {
    max-width: none;
  }
}

.view .view-content .table-responsive {
  padding: 2rem 0;
}

.view .view-content .table-responsive:last-child {
  border-bottom: 0;
}

.view .view-content .vbo-view-form .table-responsive {
  padding: 0;
}

.views-table tr .views-field.w-10 {
  width: 10%;
}

.views-table tr .views-field.w-15 {
  width: 15%;
}

.views-table tr .views-field.w-20 {
  width: 20%;
}

.views-table tr .views-field.w-25 {
  width: 25%;
}

.views-table tr .views-field.w-30 {
  width: 30%;
}

.views-table tr .views-field.w-35 {
  width: 35%;
}

.views-table tr .views-field.w-40 {
  width: 40%;
}

.views-table tr .views-field.w-45 {
  width: 45%;
}

.views-table tr .views-field.w-50 {
  width: 50%;
}

.views-table tr .views-field.w-55 {
  width: 55%;
}

.views-table tr .views-field.w-60 {
  width: 60;
}

.views-table tr .views-field.w-65 {
  width: 65%;
}

.views-table tr .views-field.w-70 {
  width: 70%;
}

.views-table tr .views-field.w-75 {
  width: 75%;
}

.views-table tr .views-field.w-80 {
  width: 80%;
}

.views-table tr .views-field.w-85 {
  width: 85%;
}

.views-table tr .views-field.w-90 {
  width: 90%;
}

.views-table tr td a {
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
}

.views-table tr td ul {
  margin-bottom: 0;
}

.views-table tr td ul li:last-child {
  border-bottom: 0;
}

.views-table tr td ul li .paragraph {
  padding: 0;
}

.views-table tr td ul li .paragraph .field__label {
  font-weight: normal;
}

.views-table tr.bd-dark {
  --bs-table-border-color: #484848;
}

.views-table tr.bd-col-dark th,
.views-table tr.bd-col-dark td {
  border-left-color: #484848;
  border-right-color: #484848;
}

.views-table tr:first-child.bd-outline-dark {
  border-top-color: #484848;
}

.views-table tr:last-child.bd-outline-dark {
  border-bottom-color: #484848;
}

.views-table tr.bg-secondary th {
  background-color: var(--bs-secondary-bg);
}

.views-table tr.bg-dark th {
  background-color: #484848;
  color: #ffffff;
}

.views-table tr.no-th-bg th {
  background-color: transparent;
}

.views-table tr.no-col-border th,
.views-table tr.no-col-border td {
  border-left: 0;
  border-right: 0;
}

.views-table tr.no-th-bg th {
  background-color: transparent;
}

.view-flipped-table tr.th-w-10 th {
  width: 10%;
}

.view-flipped-table tr.th-w-15 th {
  width: 15%;
}

.view-flipped-table tr.th-w-20 th {
  width: 20%;
}

.view-flipped-table tr.th-w-25 th {
  width: 25%;
}

.view-flipped-table tr.th-w-30 th {
  width: 30%;
}

.view-flipped-table tr.th-w-35 th {
  width: 35%;
}

.view-flipped-table tr.th-w-40 th {
  width: 40%;
}

.view-flipped-table tr.th-w-45 th {
  width: 45%;
}

.view-id-talent_list .views-field-uid {
  background-color: #ad5c76;
  color: #ffffff;
  padding: 0 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.views-exposed-form input[name='field_min_annual_income_value'] {
  width: 8rem;
}

.views-exposed-form .form--inline .form-item {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.views-exposed-form .form-item .description {
  margin-bottom: 0;
}

.views-exposed-form .bef--secondary .form-type-checkbox {
  display: inline-block;
  width: auto !important;
}

.views-exposed-form .form--inline .form-actions input[type='submit'] {
  max-width: 8rem;
}

.views-exposed-form .bef--secondary {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  flex: 1;
  min-width: 10rem;
  max-width: 16rem;
}

.views-exposed-form .bef--secondary:has(summary[aria-expanded='true']) {
  width: 100%;
  max-width: none;
  flex: none;
}

.views-exposed-form .bef--secondary summary {
  display: flex;
  padding: 0.75rem 1rem;
  width: 100%;
  color: var(--bs-btn-color);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  background-color: var(--bs-btn-bg) !important;
  border-radius: 0;
  position: relative;
}

.views-exposed-form .bef--secondary summary:after {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  font-size: 1.5rem;
  font-size: 20px;
  cursor: pointer;
  font-family: "Font Awesome 6 Pro";
  content: "\f078";
}

.views-exposed-form .bef--secondary > summary[aria-expanded='true']:after {
  content: "\f077";
}

.views-exposed-form details.bef--secondary > .details-wrapper {
  background-color: #f2f2f2;
  padding: 0.5em 1.5em 1.5rem;
}

.views-exposed-form details.bef--secondary > .details-wrapper details,
.views-exposed-form details.bef--secondary > .details-wrapper details summary {
  color: var(--bs-body-color);
  background-color: transparent !important;
  max-width: none;
  border: 0;
}

.views-exposed-form details.bef--secondary > .details-wrapper details {
  border-bottom: 2px solid #ffffff;
}

.views-exposed-form .bef--secondary > .details-wrapper > details > summary:after {
  content: "\2b";
}

.views-exposed-form .bef--secondary > .details-wrapper > details > summary[aria-expanded='true']:after {
  content: "\f068";
}

.views-exposed-form details.bef--secondary > .details-wrapper > div.form-item {
  padding: 0 1.5rem;
}

.views-exposed-form details.bef--secondary > .details-wrapper > div.form-item {
  padding-top: 1.5rem;
}

.views-exposed-form details.bef--secondary > .details-wrapper details .details-wrapper {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
}

.views-exposed-form details.bef--secondary > .details-wrapper details .details-wrapper .form-item {
  width: auto;
  max-width: none;
  margin-bottom: 0;
}

.views-exposed-form details.bef--secondary > .details-wrapper details .details-wrapper .form--inline {
  display: flex;
  align-items: center;
}

.views-exposed-form .form-item:has(.label-inline) {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 0;
}

.views-exposed-form .form-item:has(.label-inline) label {
  margin-right: 0.5rem;
  margin-bottom: 0;
  min-width: 4rem;
}

.views-exposed-form .form--inline details + .form-item-sort-by {
  width: 100%;
  max-width: none;
}

.views-exposed-form .form--inline .form-checkbox {
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .views-exposed-form .form-item:has(.label-inline) label {
    display: none;
  }

  .views-exposed-form .form-item-sort-by:has(.label-inline) label {
    display: block;
  }

  .views-exposed-form .form-item-sort-by:has(.label-inline) select {
    width: auto;
  }

  .views-exposed-form .bef--secondary {
    width: 100%;
    max-width: none;
    flex: none;
  }
}

.views-exposed-form .text-button:has(.label-inline) {
  margin-bottom: 0;
  margin-right: 0;
}

.views-exposed-form .text-button .form-item:has(.label-inline) + .form-actions {
  padding-top: 0;
}

.views-exposed-form .form--inline {
  margin-bottom: 20px;
}

.views-exposed-form .form--inline {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  gap: 0.75rem 1rem;
}

.views-exposed-form .form-checkboxes {
  margin-bottom: 0;
}

.views-exposed-form .form--inline .form-actions {
  margin: 0;
  padding-top: 25px;
}

.views-exposed-form .form--inline .form-actions input[type='submit'] {
  min-width: 120px;
  max-width: auto;
  padding: 14px;
}

/* News */
.view-news-list .views-row,
.view-contents-list-page .views-row,
.contents-list .views-row,
.views-html-list .views-row,
.view-default .views-row {
  padding: 15px 0;
  border-bottom: 1px dotted #aaa;
}

.view-news-list .views-row:last-child,
.view-contents-list-page .views-row:last-child,
.contents-list .views-row:last-child,
.views-html-list .views-row:last-child,
.view-default .views-row:last-child {
  border-bottom: none;
}

.view-news-list.view-display-id-news_block {
  max-width: 1140px;
  margin: 20px auto 30px;
}

/* HTML list */
.view .item-list a {
  --bs-link-color: #696969;
  --bs-link-color-rgb: 105, 105, 105;
  --bs-link-decoration: none;
  --bs-link-hover-color: #202020;
  --bs-link-hover-color-rgb: 32, 32, 32;
}

.view .item-list ul li {
  list-style-type: none;
  margin-left: 0;
}

.view .item-list ul li a {
  text-decoration: var(--bs-link-decoration);
}

.view .item-list ul li a:hover {
  color: var(--bs-link-hover-color);
}

.view .item-list ul li a:before {
  content: '▶︎';
  margin-right: 5px;
}

@media (max-width: 767px) {

  .view-news-list .views-row,
  .view-contents-list-page .views-row,
  .contents-list .views-row:last-child {
    padding: 20px 0;
  }
}

/* Products */
.view-product-list .views-row {
  padding: 15px 0;
  border-bottom: 1px dotted #aaa;
}

.view-product-list .views-row:last-child {
  border-bottom: none;
}

@media (max-width: 767px) {
  .view-product-list .views-row {
    padding: 20px 0;
  }
}

/** Table */
.view .table th {
  font-weight: bold;
}

.view-table .table> :not(caption)>*>* {
  padding: 0.5rem 0.75rem;
}

.view-table .table image,
.view-table .table img {
  max-width: 150px;
}

.view-table .table th {
  font-weight: bold;
}

/** Flepped table */
.view-flipped-table .view-content {
  width: 100%;
  overflow-x: auto;
}

.view-flipped-table .table {
  width: auto;
  min-width: 100%;
  margin-bottom: 0;
}

.view-flipped-table .table.table-layout-fixed {
  width: fit-content;
  max-width: 100%;
  min-width: auto;
  margin: 0 auto;
}

.view-flipped-table .table.sticky-enabled tr th {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  left: -0.5px;
  z-index: 2;
}

/** Table / Grid switcher */
.display-switch-view {
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.display-switch-view .view-header .item-list {
  float: right;
}

.display-switch-view .view-header .display-links {
  display: flex;
  align-self: flex-end;
  text-align: right;
  padding: 0.5rem;
  background: var(--light-background-primary);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgb(20 45 82 / 2%),
    0 3px 4px rgb(20 45 82 / 3%),
    0 5px 8px rgb(20 45 82 / 4%);
}

.display-switch-view .view-header .views-display-link-table_page,
.display-switch-view .view-header .views-display-link-grid_page {
  text-decoration: none;
  color: var(--bs-body-color);
  padding: 0.3rem 0.8rem;
}

.display-switch-view .view-header .views-display-link-table_page:before,
.display-switch-view .view-header .views-display-link-grid_page:before {
  font-weight: 900;
  font-family: "Font Awesome 6 Pro";
  margin-right: 0.5rem;
}

.display-switch-view .view-header .views-display-link-table_page:before {
  content: "\f00b";
}

.display-switch-view .view-header .views-display-link-grid_page:before {
  content: "\f009";
}

.display-switch-view .view-header .views-display-link-table_page.is-active,
.display-switch-view .view-header .views-display-link-grid_page.is-active {
  font-weight: bold;
  background-color: var(--light-background-secondary);
}

.display-switch-view .pager[data-once="infinite-scroll"] {
  position: static !important;
}

/** Sidebar exposed form */
.order-1 .views-exposed-form .form-control,
.order-lg-1 .views-exposed-form .form-control {
  width: 100%;
}

/** Action */
.views-form .form-actions .btn {
  border-radius: 5px;
  padding: 0.5rem 2rem;
}

/** Button icon */
.views-exposed-form .form--inline .form-actions .button-wrapper {
  position: relative;
  background-color: var(--bs-btn-bg);
  border: 0;
}

.views-exposed-form .form--inline .form-actions .button-wrapper.disabled {
  background-color: var(--bs-btn-disabled-bg);
}

.views-exposed-form .form--inline .form-actions .button-wrapper:before {
  color: var(--bs-btn-color);
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  content: "\f002";
}

.views-exposed-form .form--inline .form-actions .submit-icon {
  width: auto;
  min-width: 52px !important;
  background-color: transparent;
  border: 0;
  position: relative;
  z-index: 1;
}

.views-exposed-form .text-button {
  display: flex;
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.views-exposed-form .text-button .form-type-textfield {
  margin-right: 0;
}

.main-content .views-exposed-form .form--inline div.text-button,
.main-content .views-exposed-form .form--inline div.form-item {
  max-width:450px;
  width: 100%;
}

@media (max-width: 767px) {
  .views-exposed-form .form--inline .text-button,
  .views-exposed-form .form--inline .form-item {
    max-width: none;
  }
}

.views-exposed-form .form--inline .text-button .form-actions {
  padding-top: 28px;
}

.views-exposed-form .form--inline .text-button .form-actions .submit-icon,
.views-exposed-form .form--inline .text-button .form-actions .button-wrapper {
  border-top-right-radius: var(--bs-border-radius);
  border-bottom-right-radius: var(--bs-border-radius);
}

.views-exposed-form .form--inline .form-actions .button-wrapper.disabled,
.views-exposed-form .form--inline .form-actions .button-wrapper.disabled:before,
.views-exposed-form .form--inline .text-button .form-actions .submit-icon:disabled {
  cursor: not-allowed;
}

.views-exposed-form .text-button .form-type-textfield input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  flex: 1;
}

.views-element-container .view-content .media img {
  margin: 0 auto;
}

/** Marker */
.views-element-container .view-content .kamihaya-marker {
  font-size: 0.9rem;
  padding: 1px 0.4rem;
  line-height: 1.1;
}

.views-element-container .view-content .image-marker {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.views-element-container .view-content .image-marker .kamihaya-marker {
  position: absolute;
  z-index: 1;
}

.views-element-container .view-content .image-marker .kamihaya-marker.marker-img-top-left {
  top: 0;
  left : 0;
}

.views-element-container .view-content .image-marker .kamihaya-marker.marker-img-top-right {
  top: 0;
  right: 0;
}

.views-element-container .view-content .image-marker .kamihaya-marker.marker-img-bottom-left {
  bottom: 0;
  left: 0;
}

.views-element-container .view-content .image-marker .kamihaya-marker.marker-img-bottom-right {
  bottom: 0;
  right: 0;
}

.views-element-container .view-content .title-marker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
}

.views-element-container .view-content .title-marker .kamihaya-marker.marker-title-left,
.views-element-container .view-content .title-marker .kamihaya-marker.marker-title-right {
  margin-bottom: 0;
}

/** Flag */
.view-content .views-field .flag {
  z-index: 1;
}

.view-content .table-responsive .views-field .flag {
  position: static;
}

/** Carousel */
.view-content .flexslider {
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  .view-content .flexslider {
    margin-bottom: 2.3rem;
  }
}

.view-content .expand-collapse {
  margin-bottom: 5px;
  gap: 0;
}

.view.image-gallery-sp {
  display: none;
}

.view-content .owl-carousel {
  position: relative;
}

.view-content .owl-theme .owl-nav {
  margin-top: 0;
}

.view-content .owl-carousel .owl-nav button {
  top: 0;
  height: 100%;
  width: 10%;
  margin: 0;
  opacity: 1;
  position: absolute;
  color: #484848;
}

.view-content .owl-carousel .owl-nav button.disabled,
.view-content .owl-carousel .owl-nav button.disabled:hover {
  color: #cccccc;
}

.view-content .owl-carousel .owl-nav button.owl-prev {
  left: 0;
  background: linear-gradient(to right, rgb(255 255 255 / 80%) 30%, rgb(255 255 255 / 0%));
}

.view-content .owl-carousel .owl-nav button.owl-next {
  right: 0;
  background: linear-gradient(to left, rgb(255 255 255 / 80%) 30%, rgb(255 255 255 / 0%));
}

.view-content .owl-carousel .owl-nav button span {
  display: inline-block;
  font-size: 5rem;
  line-height: 0;
  position: absolute;
  top: calc(50% - 0.5rem);
}

.view-content .owl-carousel .owl-nav button.owl-prev span {
  left: 0;
}

.view-content .owl-carousel .owl-nav button.owl-next span {
  right: 0;
}

.view-content .owl-carousel .owl-nav button:hover {
  color: #000000;
}

.view-content .owl-carousel .owl-nav button:hover span {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .view.image-gallery-pc {
      display: none;
  }

  .view.image-gallery-sp {
    display: block;
  }

  .view-content .owl-carousel .owl-nav button span {
    font-size: 3rem;
  }
}

.region-after-header .views-exposed-form {
  background-color: var(--bs-secondary-bg);
}

.region-after-header .views-exposed-form .form--inline {
  max-width: 750px;
  margin: 0 auto;
  padding: 1rem 0.5rem 0;
}

.region-after-header .views-exposed-form .form--inline label {
  display: none;
}

.region-after-header .views-exposed-form .form--inline .text-button,
.region-after-header .views-exposed-form .form--inline .form-item,
.region-after-header .views-exposed-form .text-button .form-type-textfield input {
  width: 100%;
}

.region-after-header .views-exposed-form .form--inline .text-button {
  margin-bottom: 0;
}

.region-after-header .views-exposed-form .form--inline .text-button .form-actions {
  padding-top: 0;
}

.view-job-list .views-exposed-form .form--inline {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.view-job-list .views-exposed-form .form--inline .form-actions {
  margin-top: 10px;
  clear: none;
  width: 100%;
  text-align: center;
}

.view-document-list .views-view-grid .views-col {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px 15px 10px;
  max-width: 245px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-document-list .views-view-grid .views-col a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--gin-color-text-light);
}

.view.header-mb-minus-m .view-header {
  margin-bottom: -4.5rem;
}

.view.header-mb-minus-s .view-header {
  margin-bottom: -3.5rem;
}

.view.header-mb-minus-s .view-header:has(.float-end) {
  float: right;
}

.display-switch-view.header-mb-minus-m .view-header .display-links {
  position: relative;
  z-index: 1;
}
