.views-view-grid {
  margin-top: 20px;
}

.views-view-grid .views-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.views-view-grid .views-col {
  border: 1px solid #8f8f8f;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.9rem;
  width: 100%;
  max-width: 355px;
  position: relative;
  margin: 5px auto;
}

.views-view-grid .views-col .views-field {
  height: 100%;
  ;
}

.views-view-grid .views-col .views-field a.align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #787878;
  font-size: 18px;
}

.views-view-grid .views-col .views-field-rendered-entity article {
  position: relative;
  height: 100%;
  padding-bottom: 2rem;
}

.views-view-grid .views-col .views-field-rendered-entity h2 {
  font-size: 1.3rem;
}

.views-view-grid .views-col .views-field-rendered-entity h2:after {
  display: none;
}

.views-view-grid .views-col .views-field-rendered-entity h2 a {
  color: var(--bs-body-color);
  text-decoration: none;
  font-weight: bold;
}

.views-view-grid .views-col .views-field .more-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
}

.views-view-grid .views-col .views-field .more-link a {
  text-decoration: none;
  color: #ffffff;
  background-color: #7b98a3;
  padding: 3px 10px;
}

.views-view-grid .views-col .views-field .more-link a:hover {
  background-color: #567c8a;
}

.views-view-grid .views-col .views-field-view-node,
.views-view-grid .views-col .views-field-view-user {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.views-view-grid .views-col .views-field-view-node a,
.views-view-grid .views-col .views-field-view-user a {
  font-size: 0.85rem;
  padding: 2px 5px;
  background-color: #358aae;
  color: #ffffff;
  text-decoration: none;
}

.views-view-grid .views-col .node__content .field,
.views-view-grid .views-col .profile .field {
  margin: 2px 0;
}

.views-view-grid .views-col .views-label {
  font-weight: bold;
}

.views-view-grid .views-col .field--type-entity-reference-revisions>.field__label {
  font-size: 1rem;
  background-color: #a5b389;
  color: #ffffff;
  padding: 0 5px;
  font-weight: 400;
}

.views-view-grid .views-col .field--type-entity-reference-revisions>.field__items {
  padding: 15px 5px;
}

.views-view-grid .views-col .field__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.5rem;
}

.view-id-talent_list .views-field-uid {
  background-color: #ad5c76;
  color: #ffffff;
  padding: 0 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.views-exposed-form input[name='field_min_annual_income_value'] {
  width: 8rem;
}

.views-exposed-form .form--inline .form-item {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.views-exposed-form .form-item .description {
  margin-bottom: 0;
}

.views-exposed-form .form--inline .form-actions input[type='submit'] {
  max-width: 8rem;
}

.view-job-list .views-exposed-form .form--inline {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.view-job-list .views-exposed-form .form--inline .form-actions {
  margin-top: 10px;
  clear: none;
  width: 100%;
  text-align: center;
}

.view-document-list .views-view-grid .views-col {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 10px 15px 10px;
  max-width: 245px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-document-list .views-view-grid .views-col a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--gin-color-text-light);
  text-decoration: none;
}

@media (max-width: 575px) {
  .views-view-grid .views-col {
    max-width: none;
  }
}

/* Exposed form */

.views-exposed-form .form--inline {
  margin-bottom: 20px;
}

.views-exposed-form .form--inline .form-actions {
  margin: 0;
  padding-top: 25px;
}

.views-exposed-form .form--inline .form-actions input[type='submit'] {
  min-width: 120px;
  max-width: auto;
  padding: 14px;
}

@media (min-width: 768px) {
  .views-exposed-form .form--inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }
}

/* News */
.view-news-list .views-row,
.view-contents-list-page .views-row,
.contents-list .views-row {
  padding: 15px 0;
  border-bottom: 1px dotted #aaa;
}

.view-news-list .views-row:last-child,
.view-contents-list-page .views-row:last-child,
.contents-list .views-row:last-child {
  border-bottom: none;
}

.view-news-list.view-display-id-news_block {
  max-width: 1140px;
  margin: 20px auto 30px;
}

/* HTML list */
.view .item-list a {
  --bs-link-color: #696969;
  --bs-link-color-rgb: 105, 105, 105;
  --bs-link-decoration: none;
  --bs-link-hover-color: #202020;
  --bs-link-hover-color-rgb: 32, 32, 32;
}

.view .item-list ul li {
  list-style-type: none;
  margin-left: 0;
}

.view .item-list ul li a {
  text-decoration: var(--bs-link-decoration);
}

.view .item-list ul li a:hover {
  color: var(--bs-link-hover-color);
}

.view .item-list ul li a:before {
  content: '▶︎';
  margin-right: 5px;
}

@media (max-width: 767px) {

  .view-news-list .views-row,
  .view-contents-list-page .views-row,
  .contents-list .views-row:last-child {
    padding: 20px 0;
  }
}

/* Products */
.view-product-list .views-row {
  padding: 15px 0;
  border-bottom: 1px dotted #aaa;
}

.view-product-list .views-row:last-child {
  border-bottom: none;
}

@media (max-width: 767px) {
  .view-product-list .views-row {
    padding: 20px 0;
  }
}

/** Table */
.view .table a {
  text-decoration: none;
  color: var(--bs-body-color);
}

.view .table th {
  font-weight: bold;
}

.view-table .table> :not(caption)>*>* {
  padding: 0.5rem 0.75rem;
}

.view-table .table image,
.view-table .table img {
  max-width: 150px;
}

.view-table .table a {
  text-decoration: none;
  color: var(--bs-body-color);
}

.view-table .table th {
  font-weight: bold;
}

/** Flepped table */
.views-flipped-table {
  width: 100%;
  overflow-x: auto;
}

.views-flipped-table .table {
  width: auto;
  min-width: 100%;
  margin-bottom: 0;
}

.views-flipped-table .table.sticky-enabled tr th {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  left: -0.5px;
  z-index: 1;
}

.views-flipped-table .table tr th,
.views-flipped-table .table tr td {
  width: 175px;
}

/** Table / Grid switcher */
.display-switch-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.display-switch-view .view-header {
  display: flex;
  align-self: flex-end;
  margin: 1em 0;
  text-align: right;
  padding: 0.5rem;
  ;
  background: var(--light-background-primary);
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgb(20 45 82 / 2%),
    0 3px 4px rgb(20 45 82 / 3%),
    0 5px 8px rgb(20 45 82 / 4%);
  ;
}

.display-switch-view .view-header .views-display-link-table_page,
.display-switch-view .view-header .views-display-link-grid_page {
  text-decoration: none;
  color: var(--bs-body-color);
  padding: 0.3rem 0.8rem;
}

.display-switch-view .view-header .views-display-link-table_page:before,
.display-switch-view .view-header .views-display-link-grid_page:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  margin-right: 0.5rem;
}

.display-switch-view .view-header .views-display-link-table_page:before {
  content: "\f00b";
}

.display-switch-view .view-header .views-display-link-grid_page:before {
  content: "\f84c";
}

.display-switch-view .view-header .views-display-link-table_page.is-active,
.display-switch-view .view-header .views-display-link-grid_page.is-active {
  font-weight: bold;
  background-color: var(--light-background-secondary);
}
