#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-image: url('../../images/604600556.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-image: url('../../images/609438897.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-image: url('../../images/616588445.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(4) {
  background-image: url('../../images/611431237.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-control-next-icon:before,
.carousel-control-prev-icon:before {
  --mdb-carousel-control-icon-font-size: 1.7rem;
  --mdb-carousel-control-icon-font-weight: 700;
  font-weight: var(--mdb-carousel-control-icon-font-weight);
  font-size: var(--mdb-carousel-control-icon-font-size);
  font-family: Font Awesome\ 5 Pro, Font Awesome\ 5 Free;
}

.carousel-control-next-icon:after,
.carousel-control-prev-icon:after {
  display: none;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel,
  .carousel-inner,
  .carousel-item,
  .carousel-item.active {
    height: 50vh;
  }
}

.region-content {
  padding: 0;
}

footer.mt-auto {
  background-color: #c9c9c9 !important;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}
footer.mt-auto .container {
  max-width: 100%;
  padding: 0;
}

footer .region-footer {
  padding: 0;
}

footer .menu--footer {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

footer .navbar-nav {
  flex-direction: row;
  justify-content: center;
}

#block-kamihaya-digitalagency-copyright .field--name-body > div {
  text-align: center !important;
  padding-top: 1rem;
  border-top: 1px solid #ffffff;
}

.navbar .nav-link {
  color: #fff !important;
}

.form-control {
  padding: 0.75rem 1rem;
}

.form-control, .form-control:focus {
  color: #4f4f4f;
}

.form-control:focus {
  border-width: 2px;
  border-color: var(--light-border-focused);
  box-shadow: none;
}

.mauticform-errormsg {
  color: var(--light-text-alert);
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  letter-spacing: 0.24px;
}

.btn {
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-transform: none;
  width: auto;
  min-width: 10rem;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}

.btn:first-child:active {
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.btn-outline-light {
  width: auto;
  font-size: var(--mdb-btn-font-size);
}

.mauticform_wrapper {
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
}

#mauticform_kamihayarecruitmentcompanyform_first_name,
#mauticform_kamihayarecruitmentcompanyform_last_name {
  float: left;
}

#mauticform_kamihayarecruitmentcompanyform_first_name {
  margin-right: 1em;
}

#mauticform_kamihayarecruitmentcompanyform_email {
  clear: both;
}

#mauticform_dxjobssitepreregistrationformja_agree1 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

#mauticform_dxjobssitepreregistrationformja_agree1 .mauticform-errormsg {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#mauticform_dxjobssitepreregistrationformja_agree1 label {
  justify-content: center;
}

#mauticform_dxjobssitepreregistrationformja_submit {
  text-align: center;
}

#intro {
  height: 600px;
  /* Margin to fix overlapping fixed navbar */
  margin-top: 58px;
}

#intro h1 {
  margin-bottom: 5rem !important;
}

@media (max-width: 991px) {
  #intro {
    /* Margin to fix overlapping fixed navbar */
    margin-top: 45px;
  }
}
