.background-repeat {
  background-repeat: repeat;
}

.background-no-repeat {
  background-repeat: no-repeat;
}

.background-size-cover {
  background-size: cover;
}

.background-size-contain {
  background-size: contain;
}

.paragraph--type--background-image .bg-image {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}

.paragraph--type--background-image .bg-image .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.paragraph--type--background-image .bg-image-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}

.paragraph--type--background-image .bg-image .align-center {
  margin: 0 auto;
}

.paragraph--type--background-image .bg-image .align-left {
  margin-right: auto;
  margin-left: 0;
  float: none;
  text-align: left;
}

.paragraph--type--background-image .bg-image .align-right {
  margin-right: 0;
  margin-left: auto;
  float: none;
  text-align: right;
}
