/* Image Paragrpah type */
.paragraph--type--image {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .paragraph--type--image img {
    height: auto;
    margin: 0 auto;
  }
}
