/* Link button Paragrpah type */
.paragraph--type--link-button .link-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.paragraph--type--link-button .link-buttons .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph--type--link-button .btn span {
  position: relative;
  display: inline-block;
  width: 100%;
}

.paragraph--type--link-button .btn span i {
  margin: 0 0.5rem;
}

.paragraph--type--link-button .btn span i.left,
.paragraph--type--link-button .btn span i.right {
  position: absolute;
  margin: 0;
}

.paragraph--type--link-button .btn span i.left {
  left: 0;
}

.paragraph--type--link-button .btn span i.right {
  right: 0;
}

@media (max-width: 767px) {
  .paragraph--type--link-button .link-buttons {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
