/*------------------------------
 Hero Section - Home Page
------------------------------*/
:root {
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --default-color: #212529;
  --default-color-rgb: 33, 37, 41;
  --primary-color: #e84545;
  --primary-color-rgb: 232, 69, 69;
  --secondary-color: #32353a;
  --secondary-color-rgb: 50, 53, 58;
  --contrast-color: #ffffff;
  --contrast-color-rgb: 255, 255, 255;
}

.hero {
  --default-color: #ffffff;
  --default-color-rgb: 255, 255, 255;
  --background-color: #000000;
  --background-color-rgb: 0, 0, 0;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.hero .swiper {
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.hero .swiper-slide {
  position: relative;
}
.hero .swiper-slide:before {
  content: "";
  background-color: rgba(4, 12, 21, 0.5);
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.hero .container {
  position: relative;
  z-index: 3;
  height: 100vh;
}

.hero .slide-content {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .hero .slide-content {
    width: 100%;
  }
}
.hero h2 {
  color: var(--contrast-color);
  margin: 0;
  font-size: 48px;
  font-weight: 700;
}

.hero .slider-text {
  color: rgba(var(--default-color-rgb), 0.8);
  margin: 5px 0 0 0;
  font-size: 16px;
}

.hero .slider-link {
  display: block;
  width: 100%;
  padding: 20px 0;
  margin-top: 15px;
}

.hero .slider-link a {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  margin-right: 10px;
  text-decoration: none;
}
.hero .slider-link a:last-child {
  margin-right: 0;
}

.hero .slider-link a:hover {
  background-color: rgba(var(--primary-color-rgb), 0.9);
}


.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(var(--default-color-rgb), 0.15);
  opacity: 1;
  border: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 30px;
  color: var(--primary-color);
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}