/* Video css */
.video-tag,
.video-youtube {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  display: block;
}

.video-tag iframe,
.video-youtube iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.video-youtube figure {
  margin-bottom: 0;
}

.video-media {
  margin: 0 auto;
}

.video-media video {
  display: block;
  width: 100%;
  margin: 0 auto 20px;
  height: auto;
}

.paragraph--type--video.align-left,
.paragraph--type--video.align-right {
  float: none;
}

.align-left .video-media,
.align-left .video-tag,
.align-left .video-youtube {
  margin-left: 0;
  margin-right: auto;
}

.align-right .video-media,
.align-right .video-tag,
.align-right .video-youtube {
  margin-right: 0;
  margin-left: auto;
}
